@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$font: "Raleway", sans-serif;

body {
  margin: 0;
}

.app {
  font-family: $font;
  padding: 20px 60px;
  max-width: 700px;
  overflow: auto;
  height: 100%;

  a {
    color: #068ca1;
    font-weight: 600;

    &:hover {
      color: #035763;
    }
  }

  h3 {
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
  }

  b {
    font-weight: 600;
  }

  .iconContainer {
    display: flex;

    .iconGroup {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-weight: 600;

      .icon {
        height: 24px;
        margin-right: 8px;

        &.veg {
          height: 20px;
        }
      }
    }
  }

  button {
    font-family: $font;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    padding: 4px 16px;
    outline: none;
    border: 1px solid black;
    background-color: white;

    &.refresh {
      margin: 20px 0 8px 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    font-style: italic;
  }
}
